<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruben.filarmonica" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaEventos"
            android:label="@string/title_activity_lista_eventos" >
        </activity>
        <activity
            android:name=".DetalleEvento"
            android:label="@string/title_activity_detalle_evento" >
        </activity>
        <activity
            android:name=".Streaming"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_streaming" >
        </activity>
        <activity
            android:name=".Noticias"
            android:label="@string/title_activity_noticias" >
        </activity>
        <activity
            android:name=".Facebook"
            android:label="@string/title_activity_facebook" >
        </activity>

        <service android:name=".ServicioActualizacionBD" />


        <activity android:name=".MainActivity"
            android:label="MainActivity"/>
    </application>

</manifest>
